<div id="contenedorTotal">
  <div id="imagen"><img src="../assets/img/logo_dejovenes.jpg" alt="logo de Dejovenes"></div>
  <h1 style="text-align: center;">¡Únete al club!</h1>
  <form [formGroup]="formularioRegistro" (ngSubmit)="submit()" (reset)="resetear()" id="formulario" name="formulario">
      <div class="contenedor">    
        <label for="nombre">Nombre: </label><br>
          <input type="text" formControlName="nombre" id="nombre" class="nombre" name="nombre" placeholder="Nombre">
          <p *ngIf="this.formularioRegistro.get('nombre')?.errors?.['required']">
            El nombre no puede quedar vacío
          </p>
          <p *ngIf="this.formularioRegistro.get('nombre')?.errors?.['minlength']">
            El nombre debe tener como mínimo 3 caracteres
          </p>
      </div>
      <div class="contenedor">
          <label for="apellidos">Apellidos: </label><br>
          <input type="text" formControlName="apellidos" id="apellidos" class="apellidos" name="apellidos"  placeholder="Apellido">
          <p *ngIf="this.formularioRegistro.get('apellidos')?.errors?.['required']">
            El apellido no puede quedar vacío
          </p>
          <p *ngIf="this.formularioRegistro.get('apellidos')?.errors?.['minlength']">
            El apellido debe tener como mínimo 8 caracteres
          </p>
      </div>
      <div class="contenedor">
          <label for="dni">DNI: </label><br>
          <input type="text" formControlName="dni" id="dni" class="dni" name="dni" placeholder="DNI">
          <p *ngIf="this.formularioRegistro.get('dni')?.errors?.['required']">
            El DNI no puede estar vacio
          </p>
          <p *ngIf="this.formularioRegistro.get('dni')?.errors?.['pattern']">
            El DNI debe contener 8 letras seguido de 1 letra (12345678X)
          </p>
          <p *ngIf="this.formularioRegistro.get('dni')?.errors?.['dni']">
            El DNI debe ser valido
          </p>
      </div>
      <div class="contenedor">
        <label for="email">Email: </label><br>
        <input type="text" formControlName="email" id="email" class="email" name="email"  placeholder="Email">
        <p *ngIf="this.formularioRegistro.get('email')?.errors?.['required']">
          El email no puede estar vacio
        </p>
        <p *ngIf="this.formularioRegistro.get('email')?.errors?.['email']">
          El email debe ser valido
        </p>
    </div>
      <div class="contenedor">
          <label for="fechaNac">Fecha Nacimiento: </label><br>
          <input type="text" formControlName="fecha" id="fechaNac" class="fechaNac" name="fechaNac" placeholder="dd/mm/yyyy">
          <p *ngIf="this.formularioRegistro.get('fecha')?.errors?.['required']">
            La fecha de nacimiento no puede estar vacia
          </p>
          <p *ngIf="this.formularioRegistro.get('fecha')?.errors?.['pattern']">
            La fecha de nacimiento debe estar en formato dd/mm/yyyy
          </p>
          <p *ngIf="this.formularioRegistro.get('fecha')?.errors?.['fechaNacimiento']">
            La fecha de nacimiento debe ser valida.
          </p>
      </div><br>
      <div class="contenedor">
          <label>Sexo:</label><br>
          Hombre <input type="radio" formControlName="sexo" name="sexo" value="Hombre">
          Mujer <input type="radio"  formControlName="sexo" name="sexo" value="Mujer">
          No binario <input type="radio" formControlName="sexo" name="sexo" value="No binario">
          <p *ngIf="this.formularioRegistro.get('sexo')?.errors?.['required']">
            El sexo es requerido, debe seleccionar una opcion
          </p>
      </div><br>
      <div class="contenedor">
          <Label for="subirDNI">Subir DNI: </Label><br>
          <input type="file" formControlName="subirDNI" id="subirDNI" name="subirDNI">
          <p *ngIf="this.formularioRegistro.get('subirDNI')?.errors?.['required']">
            La imagen del DNI es obligatoria
          </p>
          <p *ngIf="this.formularioRegistro.get('subirDNI')?.errors?.['extension']">
            La imagen del DNI debe estar en formato jpeg, jpg, png o gif
          </p>
      </div><br>
      <div class="contenedor">
          <Label for="intereses" >Intereses:</Label><br>
          <select name="intereses" formControlName="intereses" id="intereses" multiple size="4">
          <option value="arte">Arte</option>
          <option value="literatura">Literatura</option>
          <option value="musica" >Musica</option>
          <option value="cocina" >Cocina</option>
      </select>
      <p *ngIf="this.formularioRegistro.get('intereses')?.errors?.['required']">
        Debe seleccionar al menos 1 interes
      </p>
      </div><br>
      <div class="contenedor">
          <label for="cp">CP </label><br>
          <input formControlName="cp" (keydown)="actualizarProvincia()" (keyup)="actualizarProvincia()" type="text" name="cp" id="cp" placeholder="Codigo Postal" ><br>
          <p *ngIf="this.formularioRegistro.get('cp')?.errors?.['required']">
            El codigo postal no puede estar vacio
          </p>
          <p *ngIf="this.formularioRegistro.get('cp')?.errors?.['pattern']">
            El codigo postal debe tener 5 digitos entre (01000 - 52999)
          </p><br>
          <label for="provincia"> Provincia</label><br> <input type="text" name="provincia" value="{{provincia}}" id="provincia" readonly placeholder="Provincia">
      </div><br>
      <div class="contenedor">
          <label for="situacionActual">Situacion Actual</label>
          <select formControlName="situacionActual" name="situacionActual" id="situacionActual">
              <option value="-">-</option>
              <option value="estudiante">Estudiante</option>
              <option value="enparo">En Paro</option>
              <option value="trabajador">Trabajador</option>
          </select>
          <p *ngIf="this.formularioRegistro.get('situacionActual')?.errors?.['pattern']">
            Debe seleccionar una situacion actual valida
          </p>
      </div><br>
      <div class="contenedor">
          <input type="checkbox" value="aceptadas" formControlName="condiciones" id="condiciones" name="condiciones" class="condiciones"> Aceptar Condiciones
          <p *ngIf="this.formularioRegistro.get('condiciones')?.errors?.['required']">
            Debe aceptar las condiciones antes de enviar el formulario
          </p>
      </div><br>
      <button type="reset" >BORRAR</button>
      <button type="submit" >INSCRIBIR</button>
  </form>
</div>